html {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

input:not([type='radio']):not([type='checkbox']),
/* input, */
button {
  appearance: none;
  border: none;
  outline: none;
  /* background-color: inherit;
  background-image: none; */
  cursor: initial;
}
