/* Variables */
:root {
  --primary: #000000;
  --work: #3a82ee;
  --other: var(--primary);
  --light: #eee;
  --grey: #888;
  --dark: #000000;
  --danger: #070505;
  --pop: coral; /* yellowgreen; */
  --brand-color: darkslategrey; /* coral; */
  --brand-color-fg: white;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  --work-glow: 0px 0px 4px rgba(37, 114, 229, 0.75);
  --other-glow: 0px 0px 4px rgba(0, 0, 0, 0.75);

  --button-bg-color: var(--grey);
  --button-bg-color-hover: var(--pop);
  --button-bg-color-active: var(--brand-color);
  --button-fg-color-active: var(--brand-color-fg);

  scrollbar-gutter: stable;
  scrollbar-width: thin;
}
/* End of Variables */

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

input:not([type='radio']):not([type='checkbox']),
textarea,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
  resize: none;
}

/* End of Resets */

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  padding-top: 2rem;
}

@media only screen and (min-width: 500px) {
  #app {
    width: clamp(500px, 60%, 1200px);
    margin-inline: auto;
  }
}

body {
  background: var(--light);
  color: var(--dark);
}

/* section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
} */

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4,
.h4 {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: block;
}

#name {
  color: var(--brand-color);
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
}

.create-todo input[type='text'],
textarea {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 2px solid var(--work);
  box-shadow: var(--work-glow);
}

.bubble.personal {
  border-color: var(--other);
  box-shadow: var(--other-glow);
}

.bubble::after {
  content: '';
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--work);
  box-shadow: var(--other-glow);
  border-radius: 999px;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: var(--other);
  box-shadow: var(--other-glow);
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-todo .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type='submit'] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--primary);
  box-shadow: var(--other-glow);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.create-todo input[type='submit']:hover {
  opacity: 0.75;
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-item .todo-content {
  width: 100%;
  flex: 1;
  color: var(--dark);
  font-size: 1.125rem;
}

.todo-item .actions {
  display: flex;
  align-items: center;
}

.todo-item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--primary);
}

.todo-item .actions .delete {
  background-color: var(--danger);
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--grey);
}

/* -- Timothy added this stuff */
.list-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filter button {
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
}

.filter {
  display: flex;
}

.filter button {
  border-radius: 0;
  cursor: pointer;
}

.filter button span.text {
  display: none;
}

.filter button + button {
  border-left: 0;
}

.filter button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

.filter button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

.filter button.active:hover,
.filter button:hover {
  background-color: var(--button-bg-color-hover);
  color: white;
  transition: background-color 250ms;
}

.filter button:active {
  background-color: black;
  color: white;
}

.filter button.active {
  background-color: var(--button-bg-color-active);
  color: var(--button-fg-color-active);
}

@media only screen and (min-width: 500px) {
  .filter button {
    width: 12ch;
  }
  .filter button span.text {
    display: initial;
  }
}
